/* @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
} */

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}


:root{
    /* color */
    --white-color: white;
    --whitesmoke-color: whitesmoke;
    --skyblue-color: #8AE9FF;

    --medium-font: 18px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
#container{
    width: 100%;
    height: 100%;
    max-width: 1980px;
    position: relative;
    display: flex;
    justify-content: center;
}

#map{
    position: absolute;
    z-index: 0;
}

/* 헤더 부분 */
header{
    padding-top: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;

}

/* 검색창 */
#searchbox{
    width: 85%;
    height: 40px;
    display: flex;
    position: fixed;
    border: 2px solid rgba(128, 128, 128, 0.6);
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px gray;
    align-items: center;
    max-width: 550px;
    flex-wrap: wrap;
    min-width: 288px;
}

#search-filter-btn{
    display: none;
}

/* 검색필터 */
#search-filter{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    z-index: 150;
    padding: 10px;
    display: none;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0px 5px 5px 5px gray;
    min-width: 288px;
    max-width: 550px;
}

#search-filter > p{
    border-bottom: 1px solid var(--skyblue-color);
    margin-bottom: 10px;
    padding: 5px;
}

#search-filter > button > img{
    width: 30px;
    height: 30px;
}


#search-filter > button{
    text-align: center;
    padding: 3px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 0px;
    border: 1px solid black;
    font-weight: bolder;
}

#search-filter button:nth-child(6){
    width: 150px;
}




#search-filter button:last-child{
    width: 200px;
}

#search-filter .search-btn{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;

}

#search-filter > .search-btn > img{
    width: 20px;
    height: 20px;
    padding-top: 5px;
}

#search-filter-btn:checked + label + #search-filter{
    display: block;
}

header > #searchbox > label > #menu{
    /* 메뉴 */
    width: 35px;
    height: 35px;
    background-color: var(--white-color);
    z-index: 110;
    border-radius: 100%;
    cursor: pointer;
}

#search{
    /* 검색창 */
    border: none;
    font-weight: bolder;
    font-size: var(--medium-font);
    width: 75%;
    height: 24px;
    position: sticky;
    z-index: 101;
}

#search-btn{
    background-color: rgba(0, 0, 0, 0);
    width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	border: none;
    cursor: pointer;
}
#search-btn > img{
    width: 35px;
    height: 35px;

}


#search::placeholder{
    color: rgba(128, 128, 128, 0.5);
    font-weight: bolder;
}



#map{
    box-sizing: border-box;
    width: 100%;
    max-height: 1024px;
    position: absolute;
}


/* 메뉴 */
#footer{
    width: 45px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 40px;
    left: 20px;
    padding-top: 5px;
    /* box-shadow: 0px 5px 5px 5px gray; */
    z-index: 140;
    list-style: none;
    background-color: var(--skyblue-color);
    border-radius: 35px;
}

#footer-btn ~ label{
    cursor: pointer;
    z-index: 150;

}

#footer > #footer-btn{
    display: none;
}
#footer > label > img{
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
}
#footer > #footer-btn ~ li{
    margin: 8px 3px;
}

#footer > #footer-btn ~ li{
    display: none;
}

#footer > #footer-btn:checked ~ li{
    display: block;
}

#footer > li > a > img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}



/* 아래쪽 슬라이드 */
#slide{
    width: 100%;
    height: 30px;
    background-color: var(--whitesmoke-color);
    position: fixed;
    z-index: 149;
    bottom: 0;
    transition: all 300ms ease-in-out;
    padding-top: 40px;
    overflow-y: scroll;
    box-shadow: 0px 1px 10px 0px gray;
    padding: 0px 15px;
}
#slide > #slide-empty{
    width: 100%;
    height: 30px;
    position: fixed;
    background-color: white;
    z-index: 100;
}

#slide > .slide-content{
    width: 100%;
    height: 135px;
    margin-top: 30px;
    padding: 5px;
    border-top: 1px solid #55dfff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}
#slide > .slide-content > .slide-header{
    width: 70%;
    height: 35px;
    /* float: right; */
    /* clear: both; */
    display: flex;
    justify-content: space-between;
    
}
#slide > .slide-content > .slide-header > img{
    width: 30px;
    height: 100%;
}
#slide > .slide-content > .restaurant-img{
    width: 100px;
    height: 100px;
    float: left;
}
#slide > .slide-content > .slide-info{

    position: absolute;
    left: 110px;
    top: 40px;
    display: inline-block;
}
#slide > .slide-content > .slide-info > p,h2,h3{
    font-size: 14px;
    margin-top: 4px;
}

#slide > .slide-content > a> .more-info{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}
#check{
    display: none;
}

/* 슬라이드 버튼 */
#up{ 
    text-align: center;
    width: 25px;
    position: fixed;
    bottom: 5px;
    left: calc(50% - 14px);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 150;
}


 /* 슬라이드 버튼 클릭시 실행 */
#check:checked + label #up{

    transform: rotate(180deg);
    bottom: 370px;
}

#check:checked ~ #slide{
    height: 400px;
}



/* 스크롤바 숨김 */
*::-webkit-scrollbar {
    display: none;
}


/* 스와이프 */
#swiperbutton + label + .swiper{
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    min-width: 225px;
    min-height: 150px;
    box-shadow: 3px 3px 10px 3px gray;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#swiperbutton{
    display: none;

}
#swiperbutton + label{
    width: 45px;
    height: 45px;
    border: 3px solid var(--skyblue-color);
    position: fixed;
    bottom: 45px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 100%;
    text-align: center;
    background-color: white;
}



#swiperbutton:checked + label + .swiper {
    position: fixed;
    width: 100%;
    bottom: 100px;
    transition: all 300ms ease-in-out;
    display: block;
}

.swiper-pagination{
    display: none;
}

#list_button{
    position: fixed;
    bottom: 50px;
    /* left: 38%; */
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--skyblue-color);
    background-color: white;
    text-align: center;
    text-decoration: none;
}



@media screen and (min-width:1024px) {
    #footer{
        height: 100%;
        width: 50px;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer > a:nth-child(3){
        order: -1;
    }
    #slide{
        height: 100%;
        width: 52px;
        left: 20px;
        top: 0;
    }
    #slide > iframe{
        display: none;
    }
    #up{
        left: 48px;
        top: 48%;
        transform: rotate(90deg);
    }
    #check:checked + label #up{

        transform: rotate(270deg);
        left: 290px;
        bottom: 370px;
    }
    
    #check:checked ~ #slide{
        width: 300px;
        height: 100%;
    }
    #check:checked ~ #slide > iframe{
        display: flex;
        padding-left: 10px;
    }

}