:root{
    /* color */
    --white-color: white;
    --whitesmoke-color: whitesmoke;
    --skyblue-color: #8AE9FF;

    --medium-font: 18px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* 헤더 부분 */
header{
    padding-top: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

/* 검색창 */
#searchbox{
    width: 85%;
    height: 40px;
    display: flex;
    position: fixed;
    border: 2px solid rgba(128, 128, 128, 0.6);
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    align-items: center;
    max-width: 550px;
    flex-wrap: wrap;
    min-width: 288px;
    z-index: 100;
    background-color: white;
    /* padding-top: 3px; */
    padding: 3px 8px 3px 0px;
}


#search-btn{
    background-color: rgba(0, 0, 0, 0);
    width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}



#search::placeholder{
    color: rgba(128, 128, 128, 0.5);
    font-weight: bolder;
}



#searchbox > #search::placeholder{
    font-size: 16px;
    font-weight: lighter;
    color: rgba(128, 128, 128, 1.2);
}

#search-filter-btn{
    display: none;
}


/* 검색필터 */
#search-filter{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    z-index: 150;
    padding: 13px 13px 0px 13px;
    display: none;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0px 1px 1px 1px gray;
    min-width: 288px;
    background-color: white;
    justify-content: center;
}

#search-filter > p{
    border-bottom: 1px solid var(--skyblue-color);
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: var(--skyblue-color);
}



#search-filter > input{
    display: none;
}

#search-filter > label{
    text-align: center;
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
}

#search-filter > label > div > img,
#search-filter > label > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-filter label:last-child{
    margin: 0px;
    margin-bottom: 0px!important; 
}

#search-filter label:nth-child(9) > div{
    width: 150px;
    height: 30px;
    padding: 5px;
}

#search-filter label:nth-child(18) > div{
    width: 80px;
    height: 45px;
    padding: 5px;
}

#search-filter label:nth-child(21) > div{
    width: 150px;
    height: 30px;
    padding: 5px;
}

#search-filter > .search-check:checked + label > div{
    /* background-color: rgba(138, 233, 255, 0.4); */
    border: 3px solid #8AE9FF;
}

#search-filter > label > div{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 9px;
    padding: 7px;
    font-size: 13px;
    width: 80px;
}


#search-filter-btn:checked + label + #search-filter{
    display: block;
}

header > #searchbox > label > #menu{
    /* 메뉴 */
    width: 35px;
    height: 35px;
    background-color: var(--white-color);
    z-index: 110;
    border-radius: 100%;
    cursor: pointer;;
}

#search{
    /* 검색창 */
    border: none;
    font-weight: bolder;
    font-size: var(--medium-font);
    width: 75%;
    height: 24px;
    position: sticky;
    z-index: 101;
}



#map_button{
    position: fixed;
    bottom: 30px;
    /* left: 38%; */
    width: 80px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid var(--skyblue-color);
    background-color: white;
    text-align: center;
    text-decoration: none;
}


#search-btn > img{
    width: 23px;
    height: 23px;
}

/* 메뉴 */
#footer{
    width: 45px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 25px;
    left: 15px;
    z-index: 140;
    list-style: none;
    background-color: var(--skyblue-color);
    border-radius: 35px;
}

#footer-btn ~ label{
    cursor: pointer;
    z-index: 150;

}

#footer > #footer-btn{
    display: none;
}
#footer > label  img{
    background-color: rgba(0, 0, 0, 0);
}
#footer > #footer-btn ~ li{
    margin: 0;
}


#footer > #footer-btn ~ li{
    display: none;
}

#footer > #footer-btn:checked ~ li{
    display: block;
    height: 45px;
}

#footer > li > a > img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
