@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}
:root{
    /* color */
    --white-color: white;
    --whitesmoke-color: whitesmoke;
    --skyblue-color: #8AE9FF;
    --medium-font: 18px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
}

body, html{
    width: 100%;
    height: 100%;
    position: relative;
}


#container{
    width: 100%;
    height: 100%;
    max-width: 1980px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

header{
    z-index: 2;
    width: 92%;
    height: 78px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    background-color: white;
}
h2#back{color: #8AE9FF;}
.ionicon {
    width: 24px;
    stroke: #8AE9FF;
}
div#text {
    display: flex;

}
div#text > h1 {
    margin-left: 10px; 
    font-size: 24px;
    font-weight: bold;
}


section {
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    margin: 80px 30px 100px 30px;
}

.content {
    text-align: left;
    border-bottom: 1px solid #8AE9FF;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}


section > .content h2 {
    width: 40%;
    font-size: 23px;
}

section > .content .star {
    position: absolute;
    right: 5px;
    top: 0px;
    margin-top: 0;
    font-size: 13px;
    display: flex;
}

section > .content .star > h3 > img {
    width: 50px;
    height: 15px;
    margin-left: 5px;
}

*::-webkit-scrollbar {
    display: none;
}

.date {
    margin-left: 36px;
    margin-top: -25px;
    font-size: 12px;
    font-weight: bold;
    color: black; /* Adjust the color as needed */
}

.address {
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    color: black; /* Adjust the color as needed */
}

.tel {
    margin-top: -6px;

    font-size: 16px;
    color: black; /* Adjust the color as needed */
}

/* 추가된 클래스 */
.exemplary-text {
    font-weight: bold;
    color: #55ddff; /* 원하는 색상으로 변경 */
    font-size: 17px; /* 원하는 크기로 변경 */
    display: inline-flex;
    align-items: center;
    margin-top: 10px;   
    position: absolute;
    right: 5px;
    top: 0px;
    margin-top: 0;
}

.exemplary-icon {
    width: 30px; /* 아이콘의 크기 */
    height: auto;
    margin-right: 5px; /* 텍스트와 아이콘 사이의 간격 */
    margin-bottom: 5px;
}

/* detail 데이터가 있는 경우 */
.violation {
    color: red;
}


.content.violation {
    border-bottom: solid 1px red;
}

.content.violation h2 {
    color: #000000; /* 빨간색 텍스트 */
}

.content.violation p {
    color: #494949; /* 진한 빨간색 텍스트 */
    font-weight: bold;
}

.content.violation #dtail {
    color: red; /* 진한 빨간색 텍스트 */
    font-weight: bold;
}

.violation-icon {
    width: 30px; /* 아이콘의 크기 */
    height: auto;
    margin-left: 5px; /* 텍스트와 아이콘 사이의 간격 */
    vertical-align: middle;
    margin-bottom: 5px;
}




.score-star{ font-size: 0.8rem;}
input[type="checkbox"]{appearance: none;}
.bookmarkicon{
    z-index: 1;
    cursor: pointer;
    width: 25px;
    height: 30px;
    position:absolute;
    /* float:right; */
    right : 4%;
    top : 25px;
    background-image: url('../../main/css/images/bookmark-outline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3px;
}
.bookmarkicon:checked{
    background-image: url("../source/bookmark_icon_blue.png")
}