@font-face {
  font-family: 'NanumBarunGothic';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.ttf) format("truetype");
}
a:-webkit-any-link{
  text-decoration: none;
  color: #595959;
}
a>div:link, a>div:visited {
  text-decoration: none;
  color: #595959;
}
a>div:hover, a>div:active{
  border: none;
  text-decoration: none;
  color: #8AE9FF;
}

hr{
  margin: 0px;
  border: 0;
  height: 1px;
  background-color: #8AE9FF;
}
img{
  /*아래 코드는 드래그 방지용*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
body{
  display: flex;
  height: 100vh;
  align-items:center;
  justify-content: space-between;
  font-family: 'NanumBarunGothic';
  margin: 0;
  padding: 0;
  flex-direction: column;
    /*아래 코드는 드래그 방지용*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
body::-webkit-scrollbar
{display: none;}

#container{
  flex-direction: column;
  display: flex;
  width: 92%;
  justify-content: center;
}
.font-ctrl{font-size: 18px;}
#userinfo {
  display: flex;
  margin: 42px 0;
  border-radius: 25px;
  width: 100%;
  height: 100px;
  border: 1px solid #CCCCCC;
}
img#userimg{
  max-width: 72px;
  clip-path: circle(36px  at center);
  margin: 0 30px 0 15px;
}
#user{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#user>h2{
  margin: 0;
}
#userinfo > h2{margin: 0px; color: #595959;}
#user>p{
  margin: 0px;
  color: #B4B4B4;
}
.section{
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #595959;
}
#alarm{
  display: flex;
  justify-content: space-between;
}
input[type="checkbox"]{
  appearance: none;
}
#push_alram {
  cursor: pointer;
  position: relative;
  border: 2px solid #BDF3FF;
  border-radius: 35px;
  width: 75px;
  height: 40px;
}
label{
  display: flex;
  align-items: center;
}
#push_alram::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transform: translateY(-50%) scale(0.8);
  background-color: #BDF3FF;
  left: 0;
  top: 50%;
  transition: left 250ms linear;
}
#push_alram:checked::before {
  background-color: white;
  left: 48%;
}
#push_alram:checked {
  background-color: #BDF3FF;
  border-color: #8AE9FF;
}
footer{
  z-index: 2;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 0px;
  box-sizing:border-box;
  color: #595959;
  background-color: white;
  position: fixed;
  bottom: 0;

}
/* 이하 북마크 탭용 추가 css*/
header{
  z-index: 2;
  width: 92%;
  height: 78px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  background-color: white;
}
h2#back{color: #8AE9FF;}
.ionicon {
  width: 24px;
  stroke: #8AE9FF;
}
div#text {
  display: flex;
}
div#text > h1 {margin-left: 10px; font-size: 24px;font-weight: normal;}
.bookmark{margin: 15px;}
.bookmark_img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: flex;
}
#clean_eat {
  margin: 0 auto;
  color:#8AE9FF;
  text-align: center;
  width: 80%;
  word-break:keep-all;
}
#inside_container{
  padding: 68px 0;
}

.bookmark{
  margin: 20px 0;
  display: flex;
  justify-content:left;
}
#info_img{ 
  margin-top: 25px;
  display: flex;flex-direction: column;justify-content: center;
align-items: center;}

#info_img>img {
  display: flex;
  width: 45%;
}
div.info_header>img {
  height: 20px;
}
.bookmark_info{
  width: 100%;
  height: 120px;
  box-sizing: content-box;
  margin-left:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.info_header{
  min-height: 20px;
  display: flex;
  justify-content: space-between;
}
.bookmark_text > h2{margin: 4px 0 0 0; font-size: 19px;}
.bookmark_text > p {margin: 0;font-size: 14px;}
.bookmark_text :nth-child(n+3){margin-top: 6px;}
.bookmark_text :nth-child(even) {
  color: #B4B4B4;
  font-size: 13px;
}
.star {color: #FFB11A; font-size: 16px;}
footer > a {
  top :35px;
  margin-top: 15px;
  display: inline-block;
  align-self: center;
}
#tohome{
  width: 40px;
}
.bookmarkicon{
  z-index: 1;
  cursor: pointer;
  width: 25px;
  height: 30px;
  position:absolute;
  float:right;
  right : 4.5%;
  background-image: url('../source/bookmark_icon_gray.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bookmarkicon:checked{
  background-image: url("../source/bookmark_icon_blue.png")
}