body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#introScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white; /* 배경은 항상 흰색 */
    display: flex; /* intro.html에서는 introScreen을 표시합니다 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#introScreen img {
    width: 50%;
    opacity: 0; /* 이미지를 처음에 투명하게 설정 */
    animation: fadeIn 1s ease forwards; /* 페이드인 애니메이션 적용 */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#mainContent {
    display: block;
}
