
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}


:root{
    /* color */
    --white-color: white;
    --whitesmoke-color: whitesmoke;
    --skyblue-color: #8AE9FF;

    --medium-font: 18px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
#container{
    width: 100%;
    height: 100%;
    max-width: 1980px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#map{
    position: absolute;
    z-index: 0;
}

/* 헤더 부분 */
header{
    padding-top: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 100;
    position: absolute;
}

/* 검색창 */
#searchbox{
    width: 85%;
    height: 40px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.5);
    align-items: center;
    max-width: 550px;
    flex-wrap: wrap;
    min-width: 288px;
    z-index: 100;
    background-color: white;
    /* padding: 3px 8px 3px 0px; */
}


#search::placeholder{
    color: rgba(128, 128, 128, 0.5);
    font-weight: bolder;
}


#searchbox > #search::placeholder{
    font-size: 16px;
    font-weight: lighter;
    color: rgba(128, 128, 128, 1.2);
}

#search-filter-btn{
    display: none;
}


/* 검색필터 */
#search-filter{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    z-index: 20;
    padding: 10px 10px 0px 10px;
    display: none;
    font-weight: bolder;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.5);
    min-width: 288px;
    max-width: 550px;
    background-color: white;
    justify-content: center;
    position: sticky;
}

#search-filter > #rank_line{
    border-bottom: 1px solid var(--skyblue-color);
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: var(--skyblue-color);
}

#search-filter > #example_line{
    border-bottom: 1px solid var(--skyblue-color);
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: var(--skyblue-color);
}

#search-filter > #violation_line{
    border-bottom: 1px solid red;
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: red;
}



#search-filter > input{
    display: none;
}

#search-filter > label{
    text-align: center;
    margin-bottom: 10px;
    margin-left: -11px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
}

#search-filter > label > div > img,
#search-filter > label > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-filter > label > div > img{
    margin-right: 5px;
}

/* #search-filter label:last-child{
    margin: 0px;
    margin-top: 10%;
    margin-bottom: 0px!important; 
} */

#search-filter label:nth-child(9) > div{
    width: 150px;
    height: 30px;
    padding: 5px;
}

#search-filter > .search-check:checked + label > div{
    background-color: rgba(138, 233, 255, 0.4);
    border-color: #8AE9FF;
}


#search-filter > label > div{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 9px;
    padding: 7px;
    font-size: 13px;
    width: 80px;
}
#search-filter > div > label > div{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 9px;
    padding: 7px;
    font-size: 13px;
    width: 80px;
    cursor: pointer;
}
#search-filter > div > .rank:checked + label > div{
    background-color: rgba(138, 233, 255, 0.4);
    border-color: #8AE9FF;
    cursor: pointer;
}

.star{
    display: flex;
    justify-content: center;
}

.star :nth-child(4){
    margin: 0 10px 10px 10px;
}

#search-filter label:nth-child(6){
    margin: 0 5px 10px 5px;
}


#search-filter-btn:checked + label + #search-filter{
    display: block;
}

header > #searchbox > label > #menu{
    /* 메뉴 */
    width: 35px;
    height: 35px;
    background-color: var(--white-color);
    z-index: 110;
    border-radius: 100%;
    cursor: pointer;;
}

#search{
    /* 검색창 */
    border: none;
    font-weight: bolder;
    font-size: var(--medium-font);
    width: 75%;
    height: 24px;
    position: sticky;
    z-index: 101;
    margin-bottom: 2px;
}



#search-btn{
    background-color: rgba(0, 0, 0, 0);
    width: 35px;
	height: 35px;
	margin: 5px 0 px 5px;
	padding: 0;
	border: none;
    cursor: pointer;
}

#search-btn > img{
    width: 23px;
    height: 23px;
    margin-bottom: 2px;
}

#search-filter-btn + label{
    margin: 0 3px 5px 0;
}



#map{
    box-sizing: border-box;
    width: 100%;
    max-height: 1024px;
    position: absolute;
}


/* 메뉴 */
#footer{
    width: 45px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 140;
    list-style: none;
    background-color: var(--skyblue-color);
    border-radius: 35px;
}

#footer-btn ~ label{
    cursor: pointer;
    z-index: 150;

}

#footer > #footer-btn{
    display: none;
}
#footer > label  img{
    background-color: rgba(0, 0, 0, 0);
}
#footer > #footer-btn ~ li{
    margin: 0;
}


#footer > #footer-btn ~ li{
    display: none;
}

#footer > #footer-btn:checked ~ li{
    display: block;
    height: 45px;
}

#footer > li > a > img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}


/* ----------------------------------------------------------------------------------- */

/* 아래쪽 슬라이드 */


#slide{
    width: 100%;
    height: 30px;
    background-color: white;
    position: fixed;
    z-index: 149;
    bottom: -20px;
    transition: all 300ms ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0px 1px 10px 0px gray;
    padding: 0 15px 40px 15px;
    border-radius: 30px 30px 0px 0px;
}

#slide > #slide-empty{
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    background-color: white;
    z-index: 150;
    border-radius: 30px 30px 0px 0px;
}


.slide-content {
    text-align: left;
    border-bottom: 1px solid #8AE9FF;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}


#slide .slide-content h2 {
    font-size: 1.5em; /* 폰트 크기 조정 */
    color: #333; /* 텍스트 색상 */
    margin-bottom: 10px;
}

#slide .slide-content p {
    font-size: 1em; /* 폰트 크기 조정 */
    color: #666; /* 텍스트 색상 */
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.4; /* 줄 간격 조정 */
    vertical-align: middle;
}

#slide .slide-content #addr {
    font-size: 1em; /* 폰트 크기 조정 */
    color: #666; /* 텍스트 색상 */
    margin-bottom: 5px;
    line-height: 1.4; /* 줄 간격 조정 */
}

#slide .slide-content #tel {
    font-size: 1em; /* 폰트 크기 조정 */
    color: #666; /* 텍스트 색상 */
    margin-bottom: 5px;
    line-height: 1.4; /* 줄 간격 조정 */
}

#slide .slide-content #rank {
    font-size: 1em; /* 폰트 크기 조정 */
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 5px;
    line-height: 1.4; /* 줄 간격 조정 */
    display: inline; /* 텍스트와 이미지가 같은 줄에 위치하도록 설정 */
    vertical-align: middle; /* 텍스트가 이미지의 중간에 위치하도록 설정 */
}

#slide .slide-content .star-img {
    width: auto; /* 이미지 크기 */
    height: 17px;
    display: inline; /* 텍스트와 이미지가 같은 줄에 위치하도록 설정 */
    vertical-align: middle; /* 이미지가 텍스트의 중간에 위치하도록 설정 */
    margin-left: 5px; /* 이미지와 텍스트 사이의 간격 */
    margin-bottom: 5px;
}

.exemplary-text {
    font-weight: regular;
    color: #55dfff; /* 원하는 색상으로 변경 */
    font-size: 0.6em; /* 원하는 크기로 변경 */
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.exemplary-icon {
    width: 30px; /* 아이콘의 크기 */
    height: auto;
    margin-right: 5px; /* 텍스트와 아이콘 사이의 간격 */
    vertical-align: middle;
}

/* detail 데이터가 있는 경우 */
.slide-content.violation {
    border-bottom: 1px solid red;
}

.slide-content.violation h2 {
    color: #FF0000; /* 빨간색 텍스트 */
}

.slide-content.violation p {
    color: #990000; /* 진한 빨간색 텍스트 */
}

.violation-icon {
    width: 25px; /* 아이콘의 크기 */
    height: auto;
    margin-left: 5px; /* 텍스트와 아이콘 사이의 간격 */
    vertical-align: middle;
    margin-bottom: 5px;
}


#slide .slide-content #detail {
    font-size: 1em; /* 폰트 크기 조정 */
    color: red; /* 텍스트 색상 */
    margin-bottom: 5px;
    line-height: 1.4; /* 줄 간격 조정 */
}
/* ------------------------------------------------------------------ */



#check{
    display: none;
}

/* 슬라이드 버튼 */
#up{ 
    text-align: center;
    width: 20px;
    position: fixed;
    bottom: 5px;
    left: calc(50% - 10px);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 150;
}


 /* 슬라이드 버튼 클릭시 실행 */
#check:checked + label #up{
    transform: rotate(180deg);
    bottom: 370px;
}

#check:checked ~ #slide{
    height: 420px;
    bottom: -30px;
    padding-bottom: 80px;
    overflow-y: scroll;
}



/* 스크롤바 숨김 */
*::-webkit-scrollbar {
    display: none;
}

/* 스와이프 */
#swiperbutton + label + .swiper{
    display: none;
}


.swiper-slide {
    /*text-align: center;*/
    font-size: 18px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    min-width: 260px;
    min-height: 160px;
    box-shadow: 5px 5px 6px 1px rgba(128, 128, 128, 0.4);
    /*사진이 넘칠 시 넘치는 부분은 삭제합니다.*/
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#swiperbutton{
    display: none;
}

#swiperbutton + label{
    width: 20px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: -5px;
    cursor: pointer;
    z-index: 100;
    border-radius: 8px;
    align-items: center;
    background-color: white;
    display: flex;
    padding-left: 3px;
    transition: all 100ms ease-in-out;
    border-color: #55dfff;
}

#swiperbutton:checked + label{
    width: 30px;
}

#swiperbutton:checked + label img{
    transform: rotate(180deg);

}
#swiperbutton:checked + label + .swiper {
    position: fixed;
    width: 100%;
    bottom: 100px;
    transition: all 300ms ease-in-out;
    display: block;
}



#list_button{
    position: absolute;
    bottom: 30px;
    width: 80px;
    left: calc(50% - 40px);
    height: 25px;
    border-radius: 10px;
    border: 1px solid var(--skyblue-color);
    background-color: white;
    text-align: center;
    text-decoration: none;
}

/*스와이퍼 관련 추가
    하위 이미지의 클래스는 swiper-img로 통일합니다.
    두개의 div로 나뉩니다.
    이미지를 담는 .swiper-img-area와
    텍스트를 담는 .swiper-text-area
*/

.swiper-img-area {
    width: 45%;
    height: 100%;
    position: absolute;
    left: 0;
}
.swiper-logo { margin-top: 2px;}
.swiper-header{width: 46%; height: 20px; position: absolute;right: 5%;top:2%;display: inline-flex;justify-content: space-between;margin-bottom: 5px;
    margin-left: 49%;}
.swiper-text-area{
    position: absolute;
    top: 18%;
    margin-left: 49%;
    width: 49%;
    flex-direction: column;
    font-size: 0.8rem;
}
.header-logo{height: 100%;}
.header-bookmark{width: 20%;}
/*내부 꾸미기용 추가 css*/
.score-star{ font-size: 0.8rem;}
input[type="checkbox"]{appearance: none;}
.bookmarkicon{
    z-index: 1;
    cursor: pointer;
    width: 25px;
    height: 30px;
    /* position:absolute; */
    float:right;
    right : 4.5%;
    background-image: url('./images/bookmark-outline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bookmarkicon:checked{
    background-image: url("../../info/source/bookmark_icon_blue.png")
}
/* .bookmarkicon{
    margin-top: 5px;
    width: 120%;
    height: 120%;
    cursor: pointer;
    background-image: url('../css/images/bookmark-outline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.bookmarkicon:checked{
    background-image: url("../../info/source/bookmark_icon_blue.png")
} */
    div.swiper-text-area :nth-child(odd){color: #3A3A3A; font-weight: bold;}
    div.swiper-text-area :nth-child(3){font-size: 0.9em;}
    div.swiper-text-area >h2{font-size: 1.2em;}
    div.swiper-text-area > p:nth-child(even) {color: #6D6D6D ; font-size: 0.8em;}
    div.swiper-text-area > p:nth-child(n+3) {margin: 6px 0;} 
/*끝-------------------------*/

@media screen and (min-width:1024px) {
    #footer{
        width: 45px;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        bottom: 30px;
        left: 40px;
        z-index: 140;
        list-style: none;
        background-color: var(--skyblue-color);
        border-radius: 35px;
    }
    
    #footer-btn ~ label{
        cursor: pointer;
        z-index: 150;
    
    }
    
    #footer > #footer-btn{
        display: none;
    }
    #footer > label  img{
        background-color: rgba(0, 0, 0, 0);
    }
    #footer > #footer-btn ~ li{
        margin: 0;
    }
    
    
    #footer > #footer-btn ~ li{
        display: none;
    }
    
    #footer > #footer-btn:checked ~ li{
        display: block;
        height: 45px;
    }
    
    #footer > li > a > img{
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    #slide{
        background-color: white;
        height: 100%;
        width: 30px;
        left: 0;
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 15px; /* 오른쪽 위 둥근 모서리 */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px; /* 오른쪽 아래 둥근 모서리 */
        overflow: hidden;
    }
    #slide > iframe{
        display: none;
    }
    #up{
        left:5px;
        top: 48%;
        transform: rotate(90deg);
    }
    #check:not(:checked) ~ #slide .slide-content {
        display: none; /* slide가 up 버튼 클릭하기 전까지 숨김 */
    }
    #check:checked + label #up{

        transform: rotate(270deg);
        left: 275px;
        bottom: 370px;
    }

    
    #check:checked ~ #slide{
        width: 300px;
        height: 100%;
        overflow: visible;
    }
    #check:checked ~ #slide > iframe{
        display: flex;
        padding-left: 10px;
    }
    #slide-empty {
        display: none;
    }
}

/* 로딩 css*/

.loader {
    width: 80px;
   height: 100px;
   background: url(../css/images/logo.png) no-repeat center;
   background-size:  contain;
   margin: 0px auto;
  }

#loadercontainer {
    height: 100%; width: 100%; display:flex; flex-direction: column; justify-content:center;
    text-align: center;
}


.hidediv >*{display: none;}

@media screen and (max-width: 768px) {
    #recenter-btn {
        padding-top: 30px;
        bottom: 600px; /* 버튼의 하단 여백을 조정 */
        right: 10px; /* 버튼의 오른쪽 여백을 조정 */
    }

    #searchbox {
        margin-bottom: 30px; /* searchbox의 하단 여백 추가 */
    }
}

